.idea
.vscode
.DS_Store

.actrc
target
tmp
Cargo.lock
data
init
node_modules
dist
dist-ssr
venv
test_data
*.local
*.ts.snap
frontend/coverage/
test-results/
playwright-report/
playwright/.cache/
__pycache__
/init/
/frontend/
/optiprism-js/
