apache-rat-*.jar
arrow-src.tar
arrow-src.tar.gz

# Compiled source
*.a
*.dll
*.o
*.py[ocd]
*.so
*.so.*
*.bundle
*.dylib
.build_cache_dir
dependency-reduced-pom.xml
MANIFEST
compile_commands.json
build.ninja

# Generated Visual Studio files
*.vcxproj
*.vcxproj.*
*.sln
*.iml

# Linux perf sample data
perf.data
perf.data.old

cpp/.idea/
.clangd/
cpp/.clangd/
cpp/apidoc/xml/
docs/example.gz
docs/example1.dat
docs/example3.dat
python/.eggs/
python/doc/
# Egg metadata
*.egg-info

.vscode
.idea/
.pytest_cache/
pkgs
docker_cache
.gdb_history
*.orig
.*.swp
.*.swo

site/

# R files
**/.Rproj.user
**/*.Rcheck/
**/.Rhistory
.Rproj.user

# macOS
cpp/Brewfile.lock.json
.DS_Store

# docker volumes used for caching
.docker

# Rust
target
Cargo.lock

rusty-tags.vi
.history
.flatbuffers/

.vscode
venv/*

# apache release artifacts
dev/dist

.db
exp
experiments